/* Global */
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #545858;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: minmax(12em, 1fr) 4fr;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #545858;
  text-shadow: 2px 2px 2px 2px #fffeff;
}

/* Hero Banner Section */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: space-between;
  border: none;
  background-color: rgba(245, 252, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 20px 2px #828a8d;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.quickview {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  margin-right: 4em;
}

.quickview__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero Search Section */
.hero__search {
  display: flex;
}

.hero__search-input {
  flex: 1;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  font-size: 120%;
}

/* Hero Button */
button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5fcff;
  box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
  backdrop-filter: blur(14px);
  margin: 0.4em;
}

/* Nav Dashboard Section */
.header {
  grid-row: 1/3;
  background-color: rgba(236, 234, 245, 0.4);
  backdrop-filter: blur(15px);
  box-shadow: 2px 2px 20px 2px #828a8d;
  border: none;
  margin-bottom: -30px;
}

.dashboard-nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em;
  gap: 2.5em;
}

.material-icons {
  transform: translateY(5px);
}

.github-link {
  background-image: url("assets/githublogo.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: -3px;
  padding-left: 25px;
}

/* Main Project Section */
.main-section {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin-top: 1em;
}

.main__stats {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.stats-graph {
  margin-top: 1.1em;
  width: 100%;
  height: 12.85em;
}

.project-list {
  display: grid;
  justify-items: center;
  grid-template: 1fr 1fr / 1fr 1fr;
  margin: 1em 2em 0 0;
}

.project-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.project-list__title {
  margin-top: 1em;
  font-size: 1.3rem;
}

.project-list__img {
  width: 25em;
}
/* Github Widgets Section */
.widgets {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.widget-stats {
  width: 100%;
}

.widget-contributions {
}

.devcard {
  width: 100%;
}

.widget-dailydev {
}

/* Music and Todo Widgets Section */
.user-profile__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Footer */
.footer {
  background-color: rgba(245, 252, 255, 0);
  grid-column: 1/3;
  text-align: center;
  flex: 1;
  margin: 0 auto;
  z-index: 0;
}
