/* Global */

* {
  box-sizing: border-box;
  color: rgb(241, 10, 10);
}

body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
  grid-gap: 1em;
  height: 100vh;
}

/* Hero Banner Section */
.hero {
  display: flex;
  flex-direction: column;
  background-image: url("assets/banner1.png");
  background-size: cover;
  grid-column: 2/3;
}

.quickview {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  margin-right: 4em;
}

.quickview__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero Search Section */
.hero__search {
  display: flex;
}

.hero__search-input {
  flex: 1;
}

/* Nav Dashboard Section */
.header {
  background-color: rgb(177, 255, 187);
  grid-row: 1/3;
}

.dashboard-nav {
  display: flex;
  justify-content: center;
  border: 2px red solid;
}

.nav-list {
}

/* Main Project Section */
.main-section {
  background-color: rgb(182, 253, 247);
}

/* Github Widgets Section */
.main__widgets {
}

/* Music and Todo Widgets Section */
.user-profile__sidebar {
}

/* Footer */
.footer {
  background-color: rgb(165, 165, 243);
  grid-column: 1/3;
  text-align: center;
}
