/* Global */

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) 4fr;
  grid-template-rows:repeat(auto-fit, minmax(300px, 1fr)) 4fr;
  grid-gap: 20px;
}

/* Hero Banner Section */
.hero {
    background-image: url('assets/banner1.png');
    background-size: cover;
    grid-column: 2/3;
}

/* Hero Search Section */
.hero__search {
}

/* Nav Dashboard Section */
.header {
    background-color: rgb(177, 255, 187);
    grid-row: 1/3;
}

/* Main Project Section */
.main-section {
    background-color: rgb(182, 253, 247);
}

/* Github Widgets Section */
.main__widgets {
}

/* Music and Todo Widgets Section */
.user-profile__sidebar {
}

/* Footer */
.footer {
}
